* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  max-width: 1440px;
  min-width: 400px;
  color: #f2f2f2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  background: hsla(205, 46%, 10%, 1);

  background: linear-gradient(
    50deg,
    hsla(205, 46%, 10%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(207, 41%, 27%, 1) 100%
  );

  background: -moz-linear-gradient(
    50deg,
    hsla(205, 46%, 10%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(207, 41%, 27%, 1) 100%
  );

  background: -webkit-linear-gradient(
    50deg,
    hsla(205, 46%, 10%, 1) 0%,
    hsla(191, 28%, 23%, 1) 50%,
    hsla(207, 41%, 27%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
  transition: all ease-out 0.5s;
}

p {
  font-weight: 400;
}

/* Main app */
main {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

/* layouts */
.main {
  width: 95%;
  padding: 3rem 2rem;
  height: 100%;
  transition: all ease-out 0.5s;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

.input-container {
  position: relative;
}

input {
  width: 28rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 0.6rem 3.5rem 0.6rem 0.6rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.input-search-icon {
  cursor: pointer;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  stroke: rgb(121, 118, 118);
  top: 3px;
  right: 3px;
}

.hour {
  font-size: 2rem;
  font-weight: 700;
}

.hour-mobile {
  display: none;
  font-weight: 600;
}

.menu-bar {
  display: none;
  width: 3rem;
  cursor: pointer;
}

/* LOCATION INFO */

.location-container {
  /* margin-top: 50px; */
  margin-top: 6.5vh;
  text-align: center;
  line-height: 1.6;
}

.location {
  font-size: 3.2rem;
}

.time {
  font-size: 1.8rem;
}

/* FORECAST */

.cur-forecast {
  text-align: center;
  margin-top: 10vh;
}

.cur-image {
  display: block;
  width: 12rem;
  height: 12rem;
  margin: 0 auto 3rem auto;
}

.cur-weather {
  font-size: 3.6rem;
  font-weight: 700;
}

.future-forecast {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.future {
  background-color: #f8f9fa52;
  backdrop-filter: blur(10px);
  padding: 1.6rem 2.4rem;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.day {
  font-size: 1.6rem;
  font-weight: 600;
}

.image {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: auto;
}

.data {
  font-size: 2rem;
}

/* ASIDE */

aside {
  box-sizing: inherit;
  background-color: #343a40;
  padding: 3rem 0.5rem 3rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  width: 6.8rem;
}

aside svg {
  width: 3rem;
  cursor: pointer;
  stroke: rgb(179, 177, 177);
}

aside svg:hover {
  stroke: #dee2e6;
}

@media only screen and (max-width: 750px) {
  body {
    min-width: 375px;

    background: hsla(159, 35%, 45%, 1);

    background: linear-gradient(
      50deg,
      hsla(159, 35%, 45%, 1) 0%,
      hsla(176, 68%, 12%, 1) 100%
    );

    background: -moz-linear-gradient(
      50deg,
      hsla(159, 35%, 45%, 1) 0%,
      hsla(176, 68%, 12%, 1) 100%
    );

    background: -webkit-linear-gradient(
      50deg,
      hsla(159, 35%, 45%, 1) 0%,
      hsla(176, 68%, 12%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4A9B7F", endColorstr="#0A3431", GradientType=1 );

    overflow-x: hidden;
  }

  main {
    display: block;
    width: 100%;
    height: 100%;
  }

  .main {
    width: 100%;
  }

  input {
    width: 22rem;
    border-radius: 20px;
    padding: 0.9rem 3.8rem 0.9rem 0.9rem;
  }

  .input-search-icon {
    right: 8px;
  }

  .hour {
    display: none;
  }

  .hour-mobile {
    display: block;
  }

  .menu-bar {
    display: block;
  }

  .location-container {
    margin-top: 8vh;
  }

  .future-forecast {
    flex-flow: column;
    gap: 3rem;
  }

  .future {
    width: 100%;
  }

  aside {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  h3 {
    font-size: 2.3rem;
  }
}
